<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" >
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css" >
    <script src="/bower_components/angular/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script type="text/javascript">
        var app=angular.module('MessageManagement',[]);
        app.controller('MessageController',function ($scope,$http) {
          /*  $http.get('http://localhost:8080/rest/messages/').then(function (response) {
                $scope.msgs =response.data;
            });*/

            $scope.msgs=[];
           $scope.messageForm ={
                msgID: -1,//without ID , ID should be generated in empty row
                msgRu:"",
                msgKz:"",
                msgEn:""
            };

            _refreshMessageData();

            $scope.submitMessage =function(){
                var method='';
                var url='';
                if($scope.messageForm.msgID==-1){
                    method="POST";
                    url='rest/messages';
                }
                else {
                    method="PUT";
                    url='rest/messages';
                }

                $http({method : method,
                url : url,
                data:angular.toJson($scope.messageForm),
                headers:{
                    'Content-Type' : 'application/json'
                }
                }).then(_success,_error);
            };

            $scope.deleteMessage=function(message) {
                $http({
                    method:'DELETE',
                    url:'rest/messages/'+message.msgID
                }).then(_success,_error);
            };

            $scope.editMessage = function (message) {
               $scope.messageForm.msgID=message.msgID;
                $scope.messageForm.msgRu=message.msgRu;
                $scope.messageForm.msgKz=message.msgKz;
                $scope.messageForm.msgEn=message.msgEn;
            };

            function _refreshMessageData() {
                $http({
                    method:'GET',
                    url:'http://localhost:8080/rest/messages/'
                }).then(function successCallback(response){
                    $scope.msgs = response.data;
                },function errorCallback(response){
                    console.log(response.statusText);
                });
            }

            function _success(response) {
                _refreshMessageData();
                _clearFormData()
            }

            function _error(response) {
                console.log(response.statusText);
            }

            function _clearFormData() {
                $scope.messageForm.msgID=-1;
                $scope.messageForm.msgRu='';
                $scope.messageForm.msgKz='';
                $scope.messageForm.msgEn='';
            }
            $scope.currentPage =0;
            $scope.pageSize = 30;
            $scope.q = '';

            $scope.numberOfPages = function(){
                return Math.ceil($scope.msgs.length/$scope.pageSize);
            }


        });
        app.filter('startFrom',function () {
            return function(input,start){
                if (!input || !input.length) { return; }
                start = +start;
                return input.slice(start);
            }});



    </script>
</head>
<body ng-app="MessageManagement" ng-controller="MessageController">
<h2>Messages</h2>
 <form ng-submit="submitMessage()">
    <table>
        <tr><th colspan="2">add/edit</th></tr>
    <!--   <tr>
            <td>ID</td>
            <td><input type="text" ng-model="messageForm.msgID"></td>
        </tr>-->
        <tr>
            <td>Ru message</td>
            <td><input type="text" ng-model="messageForm.msgRu"></td>
        </tr>
        <tr>
            <td>Kz message</td>
            <td><input type="text" ng-model="messageForm.msgKz"></td>
        </tr>
        <tr>
            <td>En message</td>
            <td><input type="text" ng-model="messageForm.msgEn"></td>
        </tr>
        <tr>
            <td><input type="submit" value="submit"></td>
        </tr>
    </table>
 </form>
    <table>
        <tr><input ng-model="q" ></tr>
        <tr>
            <th>ID</th>
            <th>ENG</th>
            <th>KAZ</th>
            <th>RUS</th>
        </tr>
        <tr ng-repeat="msg in msgs | filter: q| startFrom:currentPage*pageSize|limitTo:pageSize">
            <td>{{msg.msgID}}</td>
            <td>{{msg.msgRu}}</td>
            <td>{{msg.msgKz}}</td>
            <td>{{msg.msgEn}}</td>
            <td><a ng-click="editMessage(msg)">Edit</a> | <a ng-click="deleteMessage(msg)">Delete</a></td>
        </tr>
        <tr><button ng-disabled="currentPage==0" ng-click="currentPage=currentPage-1">Previous</button>
        {{currentPage+1}}/{{numberOfPages()}}
        <button ng-disabled="currentPage >= msgs.length/pageSize - 1" ng-click="currentPage= currentPage+1">Next</button>
        </tr>
    </table>
</body>
</html>